{% if app.security.getToken() != null %}
    {% if app.session.flashbag.has('success') or app.session.flashbag.has('error') or app.session.flashbag.has('info') %}
        <div id="action_messages">
            {% if app.session.flashbag.has('error') %}
                <div class="alert alert-block alert-error">
                     <a class="close" data-dismiss="alert" href="#">X</a>
                    <strong>Error:</strong> <br>
                    {% for errorFlashMessage in app.session.flashbag.get('error') %}
                        {{ errorFlashMessage }} <br>
                    {% endfor %}
                    {% for errorFlashMessage in app.session.flashbag.get('error') %}
                        {{ errorFlashMessage }} <br>
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('success') %}
                <div class="alert alert-block alert-success">
                     <a class="close" data-dismiss="alert" href="#">X</a>
                    <strong>Success:</strong> {{ app.session.flashbag.get('success') }}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('info') %}
                <div class="alert alert-block alert-info">
                     <a class="close" data-dismiss="alert" href="#">X</a>
                     <strong>Info:</strong> {{ app.session.flashbag.get('info') }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}

