{% if app.security.getToken() != null %}
    {% if app.session.flashbag.has('success') or app.session.flashbag.has('error') or app.session.flashbag.has('info') or app.session.flashbag.has('warning') %}
        <div id="action_messages">
            {% if app.session.flashbag.has('error') %}
                <div class="alert alert-block alert-error">
                     <a class="close" data-dismiss="alert" href="#">X</a>
                    <strong>Error:</strong> <br>
                    {{  app.session.flashbag.get('error')|join }}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('success') %}
                <div class="alert alert-block alert-success">
                     <a class="close" data-dismiss="alert" href="#">X</a>
                    <strong>{% trans %}Success{% endtrans %}:</strong> {{ app.session.flashbag.get('success')|join }}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('info') %}
                <div class="alert alert-block alert-info">
                     <a class="close" data-dismiss="alert" href="#">X</a>
                     <strong>{% trans %}Info{% endtrans %}:</strong> {{ app.session.flashbag.get('info')|join }}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('warning') %}
                <div class="alert alert-warning alert-info">
                     <a class="close" data-dismiss="alert" href="#">X</a>
                     <strong>{% trans %}Warning{% endtrans %}:</strong> {{ app.session.flashbag.get('warning')|join }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}

